#canvas_main{
    /* display: none; */
    float: left;
}

div {
    /* border: 1px solid red; */
    display: block;
    
}
/* p {
    border: 1px solid blue;
}

span {
    border: 1px solid green;
} */
.statusBlock {
    background-color: #101010;
    color: white;
    width: 300px;
    float: left;
    margin-left: 20px;
}

.left {
    display: block;
    float: left;
    width: 50%;
    padding-left: 10px;
}

.right {
    display: block;
    margin-left: 100px;
    
}

#robot_image{
    vertical-align: bottom;
}
.valueholder {
    margin-left: 10px;
}


#overflow{
    clear: both;
}

.block {
    background-color: #7f7f7f;
    border: 1px solid white;
}

.people {
    height: 64px;
}

.people img {
    display: inline;
}
#people .left {
    width: 30%;
}

.weapon {
    padding-left: 10px;
}

#buttons1 button {
    display: inline;
        padding:8px;  
        background-color: #428bca;  
        border-color: #357ebd;  
        color: #fff;  
        -moz-border-radius: 10px;  
        -webkit-border-radius: 10px;  
        border-radius: 10px; /* future proofing */  
        -khtml-border-radius: 10px; /* for old Konqueror browsers */  
        text-align: center;  
        vertical-align: middle;  
        border: 1px solid transparent;  
        font-weight: 900;  
        font-size:125%  
}