#canvas_main{
    /* display: none; */
    float: left;
}

div {
    /* border: 1px solid red; */
    display: block;
    
}
/* p {
    border: 1px solid blue;
}

span {
    border: 1px solid green;
} */
.statusBlock {
    background-color: #101010;
    color: white;
    width: 300px;
    float: left;
    margin-left: 20px;
}

.left {
    display: block;
    float: left;
    width: 50%;
    padding-left: 10px;
}

.right {
    display: block;
    margin-left: 100px;
    
}

#robot_image{
    vertical-align: bottom;
}
.valueholder {
    margin-left: 10px;
}


#overflow{
    clear: both;
}

.block {
    background-color: #7f7f7f;
    border: 1px solid white;
}

.people {
    height: 64px;
}

.people img {
    display: inline;
}
#people .left {
    width: 30%;
}

.weapon {
    padding-left: 10px;
}